@use 'variaveis';
@use 'hero';
@use 'show';

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aladin", system-ui;
}

header {
    padding-top: 160px;
    padding-bottom: 200px;
    background-image: url(../img/herohead.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: variaveis.$colorSecondary;

    @media (max-width:640px) {
        display: block;
        width: 100%;
    }
}

body {
    background-color: variaveis.$colorSecondary;

    @media (max-width:640px) {
        width: 100%;
    }
}

.container {
    max-width: 1280px;

    @media (max-width:640px) {
        .container {
            max-width: 350px;
        }
    }
}
